@media only screen and (max-width: 767px) {

  .container {
    margin: 0 30px 0 30px;
  }

  #intro-comp {
    top: 350px;
    width: 75vw;
    right: 5%;
  }

  @media only screen and (max-width: 640px) {
    #intro-comp {
      top: 400px;
      width: 85%;
    }
  }
  @media only screen and (max-width: 547px) {
    #intro-comp {
      top: 550px;
      width: 85%;
    }
  }
  @media only screen and (max-width: 450px) {
    #intro-comp {
      display: none;
    }
  }

  .product-section-label {
    width: 303px;
  }
  .product-title-one {
    padding: 55px 70px 55px 70px;
    width: 90%;
    margin: auto;
  }
  .triangle-row {
    width: 90%;
    margin: auto;
  }

  #triangle-left {
    margin-left: 40%;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 55px solid rgb(117, 189, 163);
    top: -7px;
  }
  #triangle-right {
    display: none;
  }

  .product-title-two {
    width: 90%;
    margin: auto;
    padding: 82px 0 90px 0;
  }
  .triangle-two {
    margin-left: 40%;
  }
  .product-body-two {
    width: 90%;
  }

  .tools-section {
    background: url("./img/mobile_tools_xs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top; 
    padding: 100px 0px 500px 200px;
  }

  .client-logo {
    padding: 40px;
    max-width: 300px;
  }

  .position-section .apply-now {
    padding: 0;
    background-color: rgb(16, 1, 101);
    color: rgb(224, 113, 96);
  }

}