body {
  margin: 0;
  padding-top: 70px;
  font-size: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-size: 40px;
  margin: 5px 0 0 0;
  letter-spacing: 2px;
}
h4 {
  font-size: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
p {
  margin-top: 20px;
  letter-spacing: 2px;
}
.section-label {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}


.navigation {
  background-color: rgb(16, 1, 101);
  padding: 10px 0 10px 0;
  border: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li {
  font-size: 16px;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: lightGrey;
}
.logo {
  float: left;
/*  margin-top: 4px;*/
  font-size: 30px;
}
.logo a:hover {
  color: lightGrey;
}
.nav li {
  margin: 0;
}


.intro-section {
  top: -74px;
  padding: 175px 0 300px 0;
  color: white;
  position: relative;
  background: url("./img/background_comp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.sub-heading-section {
  background-color: white;
  color: rgb(16, 1, 101);
  padding: 100px 0 100px 0;
  text-align: center;
}

.product-section-label {
  height: 0;
  width: 303px;
  margin: auto;
}
.product-section-label p {
  margin: 0;
}
.product-section-label .section-label {
  position: relative;
  z-index: 2;
  width: 300px;
  background-color: black;
  text-align: center;
  margin: auto;
}

.products-section {
  background-color: white;
  text-align: center;
}
.product-heading-one {
  position: relative;
  z-index: 1;
}
.product-title-one {
  border-top: 8px solid black;
  background-color: rgb(117, 189, 163);
  padding: 75px 90px 75px 90px;
  margin: 0;
}
.product-text-one p {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.triangle-row {
  width: 960px;
  margin: auto;
}
#triangle-left {
  margin-left: 120px;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 75px solid rgb(117, 189, 163);
}
#triangle-right {
  position: relative;
  top: -3px;
  display: inline;
  margin-left: 590px;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 75px solid rgb(117, 189, 163);
}
.product-body-one {
  position: relative;
  top: -225px;
  padding: 250px 0 100px 0;
  background-color: rgb(186, 222, 208);
  color: black;
}
.product-body-one h3 {
  margin-bottom: 30px;
}
.benefit {
  margin-top: 15px;
  margin-bottom: 30px;
}
.prod-img {
  margin-top: 25px;
}


.additional-products-section {
  margin-top: -225px;
  background-color: white;
  text-align: center;
}
.product-two {
  background-color: rgb(238, 179, 170);
  padding: 75px 0 75px 0;
}
.product-title-two {
  display: block;
  width: 450px;
  margin: auto;
  padding: 52px 0 60px 0;
  border-top: 8px solid black;
  background-color: rgb(224, 113, 96);
}
.triangle-two {
  margin-left: 210px;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 75px solid rgb(224, 113, 96);
}
.product-body-two {
  color: black;
  padding: 50px 0 50px 0;
  width: 450px;
  margin: auto;
}
.product-body-two h3 {
  padding-bottom: 40px;
}


.tools-section {
  background: url("./img/tools.jpg") top center no-repeat;
  padding: 75px 100px 400px 0;
  text-align: right;
  color: rgb(16, 1, 101);
}
.tools-section h2 {
  padding-top: 20px;
}
.tools-section .section-label {
  background-color: rgb(16, 1, 101);
  margin: 0;
}


.our-work-section {
  position: relative;
  top: -100px;
  background-color: rgb(16, 1, 101);
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
.case-studies-section {
  padding: 150px 0 20px 0;
}
.case-studies-section p {
  padding-top: 20px;
}
.case-studies-section .section-label, .clients-section .section-label {
  background-color: rgb(224, 113, 96);
  color: rgb(16, 1, 101);
  margin: 0;
}
.case-studies {
  padding-top: 40px;
  color: black;
}
.case-studies a {
  color: rgb(16, 1, 101);
  text-decoration: none;
}
.panel-body {
  background-color: rgb(16, 1, 101);
}
.panel-body p {
  margin: 10px 0;
  padding: 0;
  color: white;
}
.project-label {
  color: rgb(117, 189, 163);
  font-weight: 700;
}


.logos {
  text-align: center;
  padding: 20px 0 100px 0;
}
.client-logo {
  padding: 40px;
}


.contact-section {
  background-color: white;
  color: rgb(16, 1, 101);
  padding: 0 0 100px 0;
}
.contact-section .section-label {
  background-color: rgb(16, 1, 101);
  margin: 0;
}
.contact-section img {
  margin: 10px;
}
.contact-info {
  padding-top: 20px;
}


footer {
  background-color: black;
  padding: 40px 0 40px 0;
  color: grey;
}
h6 {
  font-size: 16px;
  letter-spacing: 2px;
}
.footer-right {
  text-align: right;
}
.social-media {
  font-size: 18px;
}


/* careers page */

.about-section {
  background-color: rgb(16, 1, 101);
  padding: 175px 0 175px 0;
}

.benefits-section {
  color: rgb(16, 1, 101);
  padding: 30px 0 50px 0;
}
.benefits-section .section-label {
  background-color: rgb(16, 1, 101);
}
.benefits {
  text-align: center;
  padding-top: 20px;
}
.fa {
  font-size: 50px;
  padding-top: 40px;
}

.position-section {
  background-color: rgb(16, 1, 101);
  padding: 50px 0 100px 0;
}
.position-section .section-label {
  background-color: rgb(224, 113, 96);
  color: rgb(16, 1, 101);
}
