@media only screen and (max-width: 1199px) {


  h1 {
    font-size: 50px;
  }

  .triangle-row {
    width: 940px;
  }

  .triangle-two {
    margin-left: 160px;
  }

  .footer-right {
    text-align: left;
  }

}
