@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {

  body {
    font-size: 40px;
  }
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 65px;
  }
  h4 {
    font-size: 40px;
  }

  .container {
    margin: 0;
    padding: 0 15px;
    width: 100%;
  }
  .logo img {
    height: 100px;
  }
  .logo {
    margin: 25px 0 25px 25px;
  }


  .navbar-default .navbar-toggle {
    margin-top: 10px;
    border: none;
    height: 125px;
    padding-right: 50px;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: rgb(16, 1, 101);
  } 
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 115px;
    height: 10px;
    margin: 15px 0;
  }
  .navbar-default .navbar-nav > li {
    margin: 25px 0 25px 50px;
    font-size: 50px;
    letter-spacing: 2px;
  }

  .intro-section {
    padding: 350px 35px 275px 35px;
    color: white;
    background: url('./img/mobile_intro_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
/*    background: rgb(16, 1, 101);*/
  }
  .intro-section p {
    width: 50%;
  }
  #intro-comp {
    top: 800px;
    right: 8%;
    width: 90vw;
  }


  .sub-heading-section {
    padding: 300px 0 50px 0;
    text-align: center;
  }


  .section-label {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
  }
  .product-section-label {
    width: 652px;
  }


  .product-title-one {
    padding: 140px 90px 120px 90px;
    width: 90%;
    margin: auto;
  }
  .product-text-one p {
    margin: 0;
  }


  .triangle-row {
    width: 90%;
    margin: auto;
  }
  #triangle-left {
    margin: 0 0 0 40%;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid rgb(117, 189, 163);
    top: -7px;
  }
  #triangle-right {
    display: none;
  }
  .benefit {
    margin: 50px 0 50px 0;
  }
  .prod-img {
    width: 20vw;
  }

  .product-title-two {
    width: 90%;
    margin: auto;
    padding: 102px 0 110px 0;
  }
  .triangle-two {
    margin: 0 0 0 42%;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 90px solid rgb(224, 113, 96);
  }
  .product-body-two {
    color: black;
    padding: 50px 0 50px 0;
    width: 80%;
    margin: auto;
  }
  .product-body-two img {
    width: 250px;
    padding-bottom: 100px;
  }



  .tools-section {
    background: url('./img/mobile_tools_xs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    padding: 100px 50px 400px 0;
  }
  .tools-section h2 {
    padding: 0;
  }
  .tools-section p {
    padding: 0;
  }

  .case-studies-section, .clients-section {
    padding: 50px 35px 35px 35px;
  }
  .case-studies-section {
    padding-top: 200px;
  }
  .case-studies-section p {
    padding-top: 40px;
  }

  .panel-heading {
    margin: 10px;
  }
  .panel-body {
    background-color: rgb(16, 1, 101);
  }
  .panel-body p {
    color: white;
    font-size: 50px;
    padding: 0;
    margin: 10px;
  }
  .project-label {
    padding-top: 40px;
  }


  .logos {
    text-align: center;
    padding: 30px 0 0 0;
  }
  .client-logo {
    width: 400px;
  }


  .contact-section {
    padding: 25px 35px 100px 35px;
  }
  .contact-section .section-label {
    background-color: rgb(16, 1, 101);
    margin: 0;
  }
  .contact-info {
    padding-top: 20px;
  }
  .contact-section h2 {
    font-size: 78px;
  }
  .contact-section h3 {
    font-size: 40px;
  }



  footer {
    padding: 20px 20px;
  }
  footer h6 {
    font-size: 40px;
  }
  .footer-left {
    padding-bottom: 30px;
  }
  .footer-left img {
    width: 400px;
  }
  .footer-right img {
    width: 70px;
  }
  .social-media {
    font-size: 18px;
  }


  /* careers page */
  .about-section {
    padding: 250px 50px 200px 50px;
  }
  .fa {
    font-size: 70px;
  }
  .job-description {
    padding: 30px;
  }
  .position-section .apply-now {
    padding: 0 30px;
    background-color: transparent;
    color: rgb(224, 113, 96);
  }
}