@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {

  body {
    font-size: 75px;
  }
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 85px;
  }
  h3 {
    font-size: 85px;
  }
  h4 {
    font-size: 50px;
  }

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .logo img {
    height: 150px;
  }
  .logo {
    margin: 50px 0 50px 50px;
  }


  .navbar-default .navbar-toggle {
    margin: 60px 50px 0 0;
    border-color: white;
    border-width: 5px;
    height: 125px;
    width: 150px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 118px;
    height: 10px;
    margin: 15px 0;
  }
  .navbar-default .navbar-nav > li {
    margin: 25px 0 25px 50px;
    font-size: 50px;
    letter-spacing: 2px;
  }

  .intro-section {
    padding: 350px 35px 150px 35px;
    color: white;
    background: rgb(16, 1, 101);
  }
  .intro-section p {
    width: 100%;
  }


  .sub-heading-section {
    padding: 100px 0 100px 0;
    text-align: center;
  }


  .section-label {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
  }
  .product-section-label {
    width: 652px;
  }


  .product-title-one {
    padding: 140px 90px 120px 90px;
    width: 90%;
    margin: auto;
  }
  .product-text-one p {
    margin: 0;
  }


  .triangle-row {
    width: 90%;
    margin: auto;
  }
  #triangle-left {
    margin-left: 37%;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 120px solid rgb(117, 189, 163);
    top: -7px;
  }
  #triangle-right {
    display: none;
  }
  .benefit {
    margin: 50px 0 50px 0;
  }
  .prod-img {
    width: 200px;
  }

  .product-title-two {
    width: 90%;
    margin: auto;
    padding: 102px 0 110px 0;
  }
  .triangle-two {
    margin-left: 42%;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 90px solid rgb(224, 113, 96);
  }
  .product-body-two {
    color: black;
    padding: 50px 0 50px 0;
    width: 80%;
    margin: auto;
  }
  .product-body-two img {
    width: 250px;
  }



  .tools-section {
    padding: 320px 0px 600px 0;
  }

  .case-studies-section, .clients-section {
    padding: 50px 35px 35px 35px;
  }
  .case-studies-section {
    padding-top: 200px;
  }
  .case-studies-section p {
    padding-top: 40px;
  }

  .panel-heading {
    margin: 10px;
  }
  .panel-body {
    background-color: rgb(16, 1, 101);
  }
  .panel-body p {
    color: white;
    font-size: 50px;
    padding: 0;
    margin-top: 10px;
  }


  .logos {
    text-align: center;
    padding: 30px 0 0 0;
  }
  .client-logo {
    width: 400px;
  }


  .contact-section {
    padding: 25px 35px 100px 35px;
  }
  .contact-section .section-label {
    background-color: rgb(16, 1, 101);
    margin: 0;
  }
  .contact-info {
    padding-top: 20px;
  }
  .vert-line {
    display: none;
  }
  .contact-section h2 {
    font-size: 78px;
  }
  .contact-section h3 {
    font-size: 70px;
  }


  footer {
    padding: 50px 20px;
  }
  footer h6 {
    font-size: 40px;
  }
  .footer-left img {
    width: 400px;
  }
  .footer-right img {
    width: 100px;
  }
  .social-media {
    font-size: 18px;
  }

}