@media only screen and (max-width: 991px) {

  .logo {
    padding-left: 15px;
  }
  .navbar-default .navbar-toggle {
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .intro-section {
    background: url("./img/mobile_intro_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .intro-section p {
    width: 55%;
  }
  #intro-comp {
    top: 400px;
    width: 65vw;
  }



  .triangle-row {
    width: 720px;
  }
  #triangle-left {
    margin-left: 110px;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 55px solid rgb(117, 189, 163);
  }
  #triangle-right {
    margin-left: 390px;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 55px solid rgb(117, 189, 163);
  }

  .triangle-two {
    margin-left: 300px;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 55px solid rgb(224, 113, 96);
  }

  .tools-section {
    background: url("./img/mobile_tools.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 105px 0px 600px 0;
    text-align: right;
  }

  .client-logo {
    padding: 20px;
    max-width: 200px;
  }

  .contact-section {
    padding: 0 0 100px 0;
  }
  .contact-img {
    width: 216px;
    margin: auto;
    padding-bottom: 40px;
  }
  .contact-section h3 {
    font-size: 26px;
  }
  .footer-right {
    text-align: left;
  }

}
